* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-align: center;
	font-family: "Roboto", sans-serif;
}

body {
	background: #efeeee;
}

h1 {
	font-weight: 700;
	margin: 0 auto;
	color: #efeeee;
	text-shadow: -5px -3px 8px #516bff, 6px 2px 12px #1c37cf;
	display: inline;
}

h3 {
	font-weight: 700;
	margin: 5% 2%;
}

li {
	list-style: none;
	border-bottom: 1px solid #cccccc;
	margin: 3% 5%;
	min-height: 5vh;
	font-family: "Roboto", sans-serif;
	text-align: left;
	transition: all 0.2s ease-out;
	background: linear-gradient(to right, #3c59ff 50%, black 50%);
	background-size: 200% 100%;
	background-position: right bottom;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

li span {
	vertical-align: center;
	float: right;
	opacity: 0.3;
}

input {
	box-sizing: border-box;
	margin: 10% 0;
	width: 95%;
	border: 0;
	outline: 0;
	border-bottom: 2px solid #cccccc;
	background: transparent;
	transition: border-color 0.2s;
}
input:focus {
	border-width: 3px;
	border-image: linear-gradient(to right, #11998e, #38ef7d);
	border-image-slice: 1;
}

.textHighlight {
	background-position: left bottom;
}

.todo {
	width: 65%;
	margin: 5vh auto;
	min-height: 60vh;
	background: #efeeee;
	border-radius: 10px;
	box-shadow: -6px -6px 16px #fff, 6px 6px 16px #d1cdc7;
}

.row {
	margin: 0;
}

.todoList {
	padding: 0 5%;
	align-content: center;
	min-height: 60vh;
}

#done {
	margin: 12% 0;
}

#header {
	width: 100%;
	height: 25vh;
	background-color: #3c59ff;
}

#headertext {
	height: 100%;
}

#header h3 {
	margin: 0 auto;
	color: #e4e4e4;
	display: inline;
}
